.horizontal-scrollable > .row {
    overflow-x: auto;
    white-space: nowrap;
}
  
.horizontal-scrollable > .row > .col-xs-4 {
    display: inline-block;
    float: none;
}

.card {
    width: auto;
    margin-left: auto;
    margin-top: 2rem;
}

h3 {
    margin-top: 2rem;
}